<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <title>Food Truck</title>
</head>
<link rel="stylesheet" href="./css/styles.css">
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="http://localhost:8080/show-all-foodtrucks">Home</a>
        <a href="http://localhost:8080/show-all-tags">Tags</a>
        <a href="http://localhost:8080/show-all-reviews">Reviews</a>
        <button class="dropdown-btn">Food Trucks 
            <i class="fa fa-caret-down"></i>
        </button>
          <div class="dropdown-container">
              <a href="localhost:8080/foodtruck?id=5">Mikey's Late Night Slice</a>
              <a href="localhost:8080/foodtruck?id=6">Kabob Time</a>
              <a href="localhost:8080/foodtruck?id=7">Ray Ray's Hog Pit</a>
              <a href="localhost:8080/foodtruck?id=8">Halal New York Gyro</a>
              <a href="localhost:8080/foodtruck?id=9">La Arepa Picante</a>
              <a href="localhost:8080/foodtruck?id=10">Mr. Grill Tacos</a>
          </div>
      </div>
      <div id="main">
          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Food Truck Reviews</span>

        </div>

      </div>

         <div class="center">
            <div id="foodtruck" th:each = "foodtruck: ${foodtrucks}">
                <input class = "foodtruckId" name = "foodtruckId" type = "hidden" th:value = "${foodtruck.id}"/>
                <h2 th:text = "${foodtruck.name}"></h2>
                <img th:src="@{'/images/' + ${foodtruck.map} + '.jpg'}" alt = "Picture"/>
                
                <section id = "indivfoodtruck">

                  
                  <p th:each="review: ${foodtruck.reviews}" th:text="${review.name}"></p>
               
                
                  
                  
                
                </section>
                
                
                <section class = "add-tag">
                  <input type = "text" placeholder = "Add a Tag" />
                  <button>Submit Tag</button> 
                </section>
                <ul th:each="tag: ${foodtruck.tags}">
                  <input class = "tagId" name = "id" type = "hidden" th:value = "${tag.id}"/>
                  <a th:href="@{/tag(id=${tag.id})}"    th:text= "${tag.type}"></a>
                  <button class = "x">&times;</button>
                </ul>

                <div th:each="review: ${reviews}">
                <ul th:each="review: ${reviews.comments}">
                  <input class= "commentId" type="hidden" th:value=${comment.id}/>
                  <p th:each= "review: ${review.comments}" th:text= "${comment.comment}"></p>
                  <button class="x">delete</button>
                </ul>
                
              </div>
            
              <section class= "add-comment" method="POST">
                
                    <input type="text" placeholder= "add your comment" />
                    <button>Submit Comment</button>
              </section>



              </div>


           </div>
           
        <footer class = "footer"> 
        </footer>
      <script src="./js/server-requests.js"></script>
	 		    </div>	
        <footer class = "footer"> 
        </footer>
      <script src="./js/foodtruck.js"></script>
</body>

           </div>
           
           
       </div>
       <footer class = "footer"> 
        </footer>
      <script src="./js/server-requests.js"></script>
    </body>

</html>