<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org" lang="en">

    <head>
        <title>Cuisines</title>
    </head>
    <link rel="stylesheet" type= "text/css" href="./css/styles.css">
    <body>
        <h1>List of Cuisines</h1>
        <div class="mainBody">
            <div class="navbar">
                <a href="http://localhost:8080/show-all-foodtrucks">Home</a>
                <a href="http://localhost:8080/show-all-cuisines">Cuisines</a>
                <a href="http://localhost:8080/show-all-reviews">Reviews</a>
                <div class="dropdown">
                </div> 
              </div>
              <div class="dashed">
            <div th:each = "cuisine: ${cuisines}">
        <h2 id = "showcuisines"><a th:href="@{/cuisine(id=${cuisine.id})}" th:text="${cuisine.type}"> </a></h2> 
     
            </div>
            </div>
        <footer class = "footer">       
        <a href="http://localhost:8080/show-all-reviews">List of Reviews</a>
        
        <a href="http://localhost:8080/show-all-foodtrucks">Back to Home</a>
        </footer>

        
    </body>

</html>