<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <title>Food Trucks</title>
    <link rel="stylesheet" type = "text/css" href="./css/styles.css">
</head>

<body>
        <h1>Food Truck Reviews</h1>

    <div class="mainBody">
    <div class="navbar">
            <a href="http://localhost:8080/show-all-foodtrucks">Home</a>
            <a href="http://localhost:8080/show-all-cuisines">Cuisines</a>
            <a href="http://localhost:8080/show-all-reviews">Reviews</a>
            <div class="dropdown">
              <button class="dropbtn">Food Trucks 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                    <div th:each="foodtruck: ${foodtrucks}">
                            <a th:href="@{/foodtruck(id=${foodtruck.id})}" th:text="${foodtruck.name}"></a>
                    </div>
              </div>
            </div> 
          </div>
          <div class="dashed">
              <h2 id="aboutUsHeader">About The Reviewers</h2>
              <p id="aboutUsP">We're just a bunch of normal people from Columbus, Ohio who love to eat and love food trucks. We don't prentend to be experts in any way and probably aren't qualified to have an opinion on this but like most people we do. If for some reason you disagree with one of our review then you'll have to keep that to yourself because we're just normal people and this isn't our day job. Fortunately the reviews are written so we can't mis-pronounce anything we're reviewing. Hope you enjoy the reviews and if not, like I said, this isn't our day job. </p>
          

        <div id="images">         
                  
                   <div class = "slideshow fade"> 
                   <article class = "mySlides">
                           <img class = "pics"src = "images/mikeys.jpg" style = "width:100%">
                       <p class = "text">Mikey's Late Night Slice</p> 
                       </article>
                      </div>

                <div class = "slideshow fade"> 
                   <article class = "mySlides">
                          <img  class = "pics" src = "images/kabob.jpg" alt = "C" style = "width:100%">
                       <p class = "text">Kabob Time</p>
                   </article>
                  </div>

                  <div class = "slideshow fade"> 
                   <article class = "mySlides">
                           <img class = "pics" src = "images/rayrays.jpg" alt = "D" style = "width:100%">
                       <p class = "text">Ray Ray's Hog Pit</p>
                   </article>
                  </div>

                  <div class = "slideshow fade"> 
                   <article class = "mySlides">
                           <img class = "pics" src = "images/halal.jpg" alt = "E" style = "width:100%">
                       <p class = "text">Halal New York Gyro</p>
                   </article>
                  </div>

                  <div class = "slideshow fade"> 
                   <article class = "mySlides">
                           <img class = "pics" src = "images/arepa.jpg" alt = "F" style = "width:100%">
                       <p class = "text">La Arepa Picante</p>
                   </article>
                  </div>

                <div class = "slideshow fade"> 
                   <article class = "mySlides">
                        <img class = "pics"src = "images/mrtaco.jpg" alt = "F" style = "width:100%">
                    <p class = "text">Mr. Grill Tacos</p>
                </article>
              </div>
             
                   <a class = "prev" onclick = "plusSlides(-1)">&#10094;</a>
                   <a class = "next" onclick = "plusSlides(1)">&#10095;</a>
                  </div>
               
                  


                </div>
                <br><br><br><br>
        <footer class = "footer">
        <a href="http://localhost:8080/show-all-foodtrucks">Return To Home</a>
        </footer>
      </div>
      <script src="./js/app.js"></script>
</body>
</html>