<html xmlns:th = "http://www.thymeleaf.org" lang="en">

    <head>
        <title>Single Cuisine</title>
    </head>
    <link rel="stylesheet" href="./css/styles.css">
    <body>
        <h1>Single Cuisine</h1>
        <div class="mainBody">
          <div class="navbar">
            <a href="http://localhost:8080/show-all-foodtrucks">Home</a>
            <a href="http://localhost:8080/show-all-cuisines">Cuisines</a>
            <a href="http://localhost:8080/show-all-reviews">Reviews</a>
            <div class="dropdown">
              <button class="dropbtn">Food Trucks 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                    <div th:each="foodtruck: ${foodtrucks}">
                            <a th:href="@{/foodtruck(id=${foodtruck.id})}" th:text="${foodtruck.name}"></a>
                    </div>
              </div>
            </div> 
          </div>
        <div class="dashed">
     <div class="dashed">
     <div th:each = "cuisine: ${cuisines}">
        <h2 th:text = "${cuisine.type}"></h2>
      <div th:each="foodtruck: ${foodtrucks}">
        <h3 id = "singlefoodtruck"> <a th:href="@{/foodtruck(id=${foodtruck.id})}" th:text="${foodtruck.name}"></h3>
       
      </div>
      </div>
    </div>
    <footer class = "footer">
      	<a href="http://localhost:8080/show-all-cuisines">List of Cuisines</a>
        
        <a href="http://localhost:8080/show-all-reviews">List of Reviews</a>
        
        <a href="http://localhost:8080/show-all-foodtrucks">Back to Home</a>
  </footer>
</body>
</html>