<html xmlns:th = "http://www.thymeleaf.org" lang="en">

    <head>
        <title>Single Cuisine</title>
    </head>
    <link rel="stylesheet" href="./css/styles.css">
    <body>
        <h1>Single Cuisine</h1>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="http://localhost:8080/show-all-foodtrucks">Home</a>
            <a href="http://localhost:8080/show-all-tags">Tags</a>
            <a href="http://localhost:8080/show-all-reviews">Reviews</a>
            <button class="dropdown-btn">Food Trucks 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                  <div th:each="foodtruck: ${foodtrucks}">
                      <a th:href="@{/foodtruck(id=${foodtruck.id})}" th:text="${foodtruck.name}"></a>
                  </div>
              </div>
          </div>
    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Food Truck Reviews</span>
    </div>
        <div class="center">
     <div th:each = "tag: ${tags}">
        <h2 th:text = "${tag.type}"></h2>
      <div th:each="foodtruck: ${foodtrucks}">
        <h3 id = "singlefoodtruck"> <a th:href="@{/foodtruck(id=${foodtruck.id})}" th:text="${foodtruck.name}"></h3>
       
      </div>
      </div>
    </div>
    <footer class = "footer">
  </footer>
  <script src="./js/app.js"></script>   
</body>
</html>